<div class="homepage">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="corona-cases">
                    <h1 class="current-cases-number">{{this.summaryData.Global.NewConfirmed.toLocaleString()}}</h1>
                    <h3 class="current-cases-text">New confirmed cases today worldwide</h3>
                    <button type="button" class="btn btn-outline-warning"><a routerLink="/stats">View latest data</a></button>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="homepage-img">
                    <img class="img-fluid" src="../assets/homepage_background.svg" width="500" height="500" alt="Homepage Background">
                </div>
            </div>
        </div>
    </div>
</div>