.card {
    width: 100%;
    margin-left: 40px;
    margin-right: auto;
    margin-top: 4vh;
    cursor: default;
}

.country-text {
    text-align: center;
    margin-top: 3vh;
}

.filter-input {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 3vh;

    p {
        margin: 0;
        margin-right: 10px;
    }
}