<div class="statistics">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-lg-4 stat-col">
                <img src="../assets/social_distancing.svg" width="300" height="300" alt="Social Distancing">
                <h1 class="new-cases-number">{{this.summaryData.Global.NewConfirmed.toLocaleString()}}</h1>
                <h3 class="new-cases-text">New cases worldwide</h3>
                <h1 class="total-cases-number">{{this.summaryData.Global.TotalConfirmed.toLocaleString()}}</h1>
                <h3 class="total-cases-text">Total cases worldwide</h3>
            </div>
            <div class="col-sm-12 col-lg-4 stat-col">
                <img src="../assets/death.svg" width="300" height="300" alt="Death Image">
                <h1 class="new-deaths-number">{{this.summaryData.Global.NewDeaths.toLocaleString()}}</h1>
                <h3 class="new-deaths-text">New deaths worldwide</h3>
                <h1 class="total-deaths-number">{{this.summaryData.Global.TotalDeaths.toLocaleString()}}</h1>
                <h3 class="total-deaths-text">Total deaths worldwide</h3>
            </div>
            <div class="col-sm-12 col-lg-4 stat-col">
                <img src="../assets/recovered.svg" width="300" height="300" alt="Social Distancing">
                <h1 class="new-recovered-number">{{this.summaryData.Global.NewRecovered.toLocaleString()}}</h1>
                <h3 class="new-recovered-text">New recovered worldwide</h3>
                <h1 class="total-recovered-number">{{this.summaryData.Global.TotalConfirmed.toLocaleString()}}</h1>
                <h3 class="total-recovered-text">Total recovered worldwide</h3>
            </div>
        </div>
    </div>
</div>